In [26]:
import pandas as pd

In [27]:
raw_data = pd.read_csv('./CSVs/Comptage_Plateau_Nord.csv', sep=';')
raw_data

            date     debut       end  count  count_b
0     03/12/2024  07:30:00  09:00:00  135.0      NaN
1     03/12/2024  07:30:00  09:00:00    7.0      NaN
2     03/12/2024  07:30:00  09:00:00   25.0      NaN
3     03/12/2024  07:30:00  09:00:00    5.0      NaN
4     03/12/2024  07:30:00  09:00:00   43.0      NaN
...          ...       ...       ...    ...      ...
2347  10/06/2025  08:45:00  09:00:00    0.0      NaN
2348  10/06/2025  08:45:00  09:00:00    0.0      NaN
2349  14/06/2022  07:30:00  09:00:00  374.0      NaN
2350  11/06/2024  07:30:00  09:00:00  382.0      NaN
2351  14/06/2022  07:30:00  09:00:00   65.0      NaN

[2352 rows x 5 columns]

In [28]:
# replace NaN values with 0 and add count_b column to count column
raw_data = raw_data.fillna(0)
raw_data['count'] = raw_data['count'] + raw_data['count_b']
raw_data = raw_data.drop(columns=['count_b'])
raw_data

            date     debut       end  count
0     03/12/2024  07:30:00  09:00:00  135.0
1     03/12/2024  07:30:00  09:00:00    7.0
2     03/12/2024  07:30:00  09:00:00   25.0
3     03/12/2024  07:30:00  09:00:00    5.0
4     03/12/2024  07:30:00  09:00:00   43.0
...          ...       ...       ...    ...
2347  10/06/2025  08:45:00  09:00:00    0.0
2348  10/06/2025  08:45:00  09:00:00    0.0
2349  14/06/2022  07:30:00  09:00:00  374.0
2350  11/06/2024  07:30:00  09:00:00  382.0
2351  14/06/2022  07:30:00  09:00:00   65.0

[2352 rows x 4 columns]

In [29]:
# merge date column with debut and end time columns to create start_time and end_time columns
raw_data['start_time'] = raw_data['date'] + ' ' + raw_data['debut']
raw_data['end_time'] = raw_data['date'] + ' ' + raw_data['end']
raw_data

,date,debut,end,count,start_time,end_time
0,03/12/2024,07:30:00,09:00:00,135.0,03/12/2024 07:30:00,03/12/2024 09:00:00
1,03/12/2024,07:30:00,09:00:00,7.0,03/12/2024 07:30:00,03/12/2024 09:00:00
2,03/12/2024,07:30:00,09:00:00,25.0,03/12/2024 07:30:00,03/12/2024 09:00:00
3,03/12/2024,07:30:00,09:00:00,5.0,03/12/2024 07:30:00,03/12/2024 09:00:00
4,03/12/2024,07:30:00,09:00:00,43.0,03/12/2024 07:30:00,03/12/2024 09:00:00
...,...,...,...,...,...,...
2347,10/06/2025,08:45:00,09:00:00,0.0,10/06/2025 08:45:00,10/06/2025 09:00:00
2348,10/06/2025,08:45:00,09:00:00,0.0,10/06/2025 08:45:00,10/06/2025 09:00:00
2349,14/06/2022,07:30:00,09:00:00,374.0,14/06/2022 07:30:00,14/06/2022 09:00:00
2350,11/06/2024,07:30:00,09:00:00,382.0,11/06/2024 07:30:00,11/06/2024 09:00:00
2351,14/06/2022,07:30:00,09:00:00,65.0,14/06/2022 07:30:00,14/06/2022 09:00:00

In [30]:
raw_data.drop(columns=['date', 'debut', 'end'], inplace=True)
raw_data

      count           start_time             end_time
0     135.0  03/12/2024 07:30:00  03/12/2024 09:00:00
1       7.0  03/12/2024 07:30:00  03/12/2024 09:00:00
2      25.0  03/12/2024 07:30:00  03/12/2024 09:00:00
3       5.0  03/12/2024 07:30:00  03/12/2024 09:00:00
4      43.0  03/12/2024 07:30:00  03/12/2024 09:00:00
...     ...                  ...                  ...
2347    0.0  10/06/2025 08:45:00  10/06/2025 09:00:00
2348    0.0  10/06/2025 08:45:00  10/06/2025 09:00:00
2349  374.0  14/06/2022 07:30:00  14/06/2022 09:00:00
2350  382.0  11/06/2024 07:30:00  11/06/2024 09:00:00
2351   65.0  14/06/2022 07:30:00  14/06/2022 09:00:00

[2352 rows x 3 columns]

In [31]:
# Convert start_time and end_time columns to datetime format
raw_data['start_time'] = pd.to_datetime(raw_data['start_time'], utc=False, errors='coerce', dayfirst=True)
raw_data['end_time'] = pd.to_datetime(raw_data['end_time'], utc=False, errors='coerce', dayfirst=True)
raw_data['start_time'] = raw_data['start_time'].dt.tz_localize('Europe/Paris')
raw_data['end_time'] = raw_data['end_time'].dt.tz_localize('Europe/Paris')
raw_data

      count                start_time                  end_time
0     135.0 2024-12-03 07:30:00+01:00 2024-12-03 09:00:00+01:00
1       7.0 2024-12-03 07:30:00+01:00 2024-12-03 09:00:00+01:00
2      25.0 2024-12-03 07:30:00+01:00 2024-12-03 09:00:00+01:00
3       5.0 2024-12-03 07:30:00+01:00 2024-12-03 09:00:00+01:00
4      43.0 2024-12-03 07:30:00+01:00 2024-12-03 09:00:00+01:00
...     ...                       ...                       ...
2347    0.0 2025-06-10 08:45:00+02:00 2025-06-10 09:00:00+02:00
2348    0.0 2025-06-10 08:45:00+02:00 2025-06-10 09:00:00+02:00
2349  374.0 2022-06-14 07:30:00+02:00 2022-06-14 09:00:00+02:00
2350  382.0 2024-06-11 07:30:00+02:00 2024-06-11 09:00:00+02:00
2351   65.0 2022-06-14 07:30:00+02:00 2022-06-14 09:00:00+02:00

[2352 rows x 3 columns]

In [32]:
# Export to CSV
raw_data.to_csv('./CSVs/counting_data_caluire.csv', sep=';', index=False)