In [1]:
import pandas as pd

In [2]:
channels_df = pd.read_csv('raw_data/channels-sites-comptage-metropole-lyon-corrected.csv', sep=';')
print(channels_df.head())

START_DATE = pd.to_datetime('2022-04-01', utc=True)
END_DATE = pd.to_datetime('2022-04-30', utc=True)

df_cleaned = channels_df.copy()
df_cleaned = df_cleaned.drop(columns=['started_at', 'last_updated_at'])

          channel_id channel_provider_id mobility_type  \
0  69091.00052.02.00   69091.00052.02.00    PEDESTRIAN
1  69091.00052.02.01   69091.00052.02.01    PEDESTRIAN
2          353479605           353479605     E-SCOOTER
3          353479606           353479606     E-SCOOTER
4          353480099           353480099     E-SCOOTER

                  started_at            last_updated_at  time_step
0  2025-12-15 14:00:00+01:00  2025-12-17 09:00:00+01:00       3600
1  2025-12-15 14:00:00+01:00  2025-12-17 09:00:00+01:00       3600
2  2024-07-01 00:00:00+02:00  2025-11-15 00:15:00+01:00        900
3  2024-07-01 00:00:00+02:00  2025-11-15 00:15:00+01:00        900
4  2024-07-01 00:00:00+02:00  2025-11-15 00:15:00+01:00        900

In [3]:
# Remove lines where mobility_type is not BIKE
channels_df = channels_df[channels_df['mobility_type'] == 'BIKE']
print(f"Number of rows after filtering for BIKE: {len(channels_df)}")
channels_df

Number of rows after filtering for BIKE: 674

,channel_id,channel_provider_id,mobility_type,started_at,last_updated_at,time_step
6,353480095,353480095,BIKE,2024-09-02 00:00:00+02:00,2024-10-18 18:00:00+02:00,900
8,353480097,353480097,BIKE,2024-09-02 00:00:00+02:00,2024-10-18 18:00:00+02:00,900
11,102017788,102017788,BIKE,2013-01-01 00:00:00+01:00,2025-12-18 00:00:00+01:00,3600
20,353246254,353246254,BIKE,2013-01-01 00:00:00+01:00,2024-10-07 00:00:00+02:00,3600
22,353246258,353246258,BIKE,2013-01-01 00:00:00+01:00,2024-10-07 00:00:00+02:00,3600
...,...,...,...,...,...,...
1279,353506887,353506887,BIKE,2025-01-14 11:00:00+01:00,2025-11-17 13:00:00+01:00,3600
1280,353506888,353506888,BIKE,2025-01-14 11:00:00+01:00,2025-11-17 13:00:00+01:00,3600
1288,353642895,353642895,BIKE,2025-09-26 11:15:00+02:00,2025-12-18 00:00:00+01:00,3600
1294,353641568,353641568,BIKE,NaN,NaN,0
1295,353641569,353641569,BIKE,NaN,NaN,0

In [4]:
# On vire les channels qui n'ont pas update après 2022-04-01
# Conversion de la colonne last_updated_at en datetime depuis le format string
df_cleaned['last_updated_at'] = pd.to_datetime(channels_df['last_updated_at'], utc=True, errors='coerce')
df_cleaned = df_cleaned[df_cleaned['last_updated_at'] >= START_DATE]
print(f"Number of rows after filtering for last update after 2023-04-01: {len(channels_df)}")
df_cleaned

Number of rows after filtering for last update after 2023-04-01: 674

,channel_id,channel_provider_id,mobility_type,time_step,last_updated_at
6,353480095,353480095,BIKE,900,2024-10-18 16:00:00+00:00
8,353480097,353480097,BIKE,900,2024-10-18 16:00:00+00:00
11,102017788,102017788,BIKE,3600,2025-12-17 23:00:00+00:00
20,353246254,353246254,BIKE,3600,2024-10-06 22:00:00+00:00
22,353246258,353246258,BIKE,3600,2024-10-06 22:00:00+00:00
...,...,...,...,...,...
1275,353500826,353500826,BIKE,3600,2025-01-23 08:45:00+00:00
1276,353500827,353500827,BIKE,3600,2025-01-23 08:45:00+00:00
1279,353506887,353506887,BIKE,3600,2025-11-17 12:00:00+00:00
1280,353506888,353506888,BIKE,3600,2025-11-17 12:00:00+00:00
1288,353642895,353642895,BIKE,3600,2025-12-17 23:00:00+00:00

In [5]:
# Idem pour la colonne started_at mais cette fois on supprime les channels qui ont commencés après 2023-04-31
df_cleaned['started_at'] = pd.to_datetime(channels_df['started_at'], utc=True)
df_cleaned = df_cleaned[df_cleaned['started_at'] < END_DATE]
print(f"Number of rows after filtering for started before 2023-05-01: {len(channels_df)}")
df_cleaned

Number of rows after filtering for started before 2023-05-01: 674

,channel_id,channel_provider_id,mobility_type,time_step,last_updated_at,started_at
11,102017788,102017788,BIKE,3600,2025-12-17 23:00:00+00:00,2012-12-31 23:00:00+00:00
20,353246254,353246254,BIKE,3600,2024-10-06 22:00:00+00:00,2012-12-31 23:00:00+00:00
22,353246258,353246258,BIKE,3600,2024-10-06 22:00:00+00:00,2012-12-31 23:00:00+00:00
30,103030637,103030637,BIKE,3600,2025-12-17 23:00:00+00:00,2012-12-31 23:00:00+00:00
34,101017789,101017789,BIKE,3600,2025-12-17 23:00:00+00:00,2012-12-31 23:00:00+00:00
...,...,...,...,...,...,...
939,353340938,353340938,BIKE,3600,2025-12-17 23:00:00+00:00,2014-06-25 13:00:00+00:00
971,353340970,353340970,BIKE,900,2025-12-17 22:15:00+00:00,2012-09-30 22:00:00+00:00
972,353340971,353340971,BIKE,900,2025-12-17 22:15:00+00:00,2012-09-30 22:00:00+00:00
975,353379130,353379130,BIKE,900,2025-12-17 22:15:00+00:00,2015-12-31 23:00:00+00:00
976,353379134,353379134,BIKE,900,2025-12-17 22:15:00+00:00,2015-12-31 23:00:00+00:00

In [74]:
# Convert dataframe to csv
df_cleaned.to_csv('./CSVs/channels.csv', sep=';', index=False)